<div class="accordion">
    <h3>Humanities</h3>
    <ul>
        <li>
            <a href="/BDNotes/Humanities/AP World/placeholder.txt">AP World notes for placeholder</a>
        </li>
        <li>
            <a href="/BDNotes/Humanities/NSL/placeholder.txt">NSL notes for placeholder</a>
        </li>
    </ul>
</div> 
<div class="accordion">
    <h3>CS</h3>
    <ul>
        <li>
            <a href="/BDNotes/CS/FCS/placeholder.txt">FCS notes for placeholder</a>
        </li>
        <li>
            <a href="/BDNotes/CS/ADSA/placeholder.txt">ADSA notes for placeholder</a>
        </li>
        <li>
            <a href="/BDNotes/CS/ADSB/placeholder.txt">ADSB notes for placeholder</a>
        </li>
        <li>
            <a href="/BDNotes/CS/AOA/placeholder.txt">AOA notes for placeholder</a>
        </li>
    </ul>
</div>
<div class="accordion">
    <h3>Science</h3>
    <ul>
        <li>
            <a href="/BDNotes/Science/Freshman Physics/placeholder.txt">Freshman Physics notes for placeholder</a>
        </li>
        <li>
            <a href="/BDNotes/Science/Freshman Chem/placeholder.txt">Freshman Chem notes for placeholder</a>
        </li>
        <li>
            <a href="/BDNotes/Science/Biology/placeholder.txt">Biology notes for placeholder</a>
        </li>
    </ul>
</div>
<div class="accordion">
    <h3>Math</h3>
    <ul>
        <li>
            <a href="/BDNotes/Math/Analysis 1A/placeholder.txt">Analysis 1A notes for placeholder</a>
        </li>
        <li>
            <a href="/BDNotes/Math/Analysis 1B/placeholder.txt">Analysis 1B notes for placeholder</a>
        </li>
    </ul>
</div>
