
 <script>
      $(function() {
        $( ".accordion" ).accordion({
          collapsible: true,
          active: false
        });
      });
    </script><div class="accordion"><h3>Humanities</h3><ul><li><a href="/BDNotes/Humanities/AP World/placeholder.txt" class="accordion-inner">AP World notes for placeholder</a></li><li><a href="/BDNotes/Humanities/NSL/placeholder.txt" class="accordion-inner">NSL notes for placeholder</a></li></ul></div>
<div class="accordion"><h3>CS</h3><ul><li><a href="/BDNotes/CS/FCS/placeholder.txt" class="accordion-inner">FCS notes for placeholder</a></li><li><a href="/BDNotes/CS/ADSA/placeholder.txt" class="accordion-inner">ADSA notes for placeholder</a></li><li><a href="/BDNotes/CS/ADSB/placeholder.txt" class="accordion-inner">ADSB notes for placeholder</a></li><li><a href="/BDNotes/CS/AOA/placeholder.txt" class="accordion-inner">AOA notes for placeholder</a></li></ul></div>
<div class="accordion"><h3>Science</h3><ul><li><a href="/BDNotes/Science/Freshman Physics/placeholder.txt" class="accordion-inner">Freshman Physics notes for placeholder</a></li><li><a href="/BDNotes/Science/Freshman Chem/placeholder.txt" class="accordion-inner">Freshman Chem notes for placeholder</a></li><li><a href="/BDNotes/Science/Biology/placeholder.txt" class="accordion-inner">Biology notes for placeholder</a></li></ul></div>
<div class="accordion"><h3>Math</h3><ul><li><a href="/BDNotes/Math/Analysis 1A/placeholder.txt" class="accordion-inner">Analysis 1A notes for placeholder</a></li><li><a href="/BDNotes/Math/Analysis 1B/placeholder.txt" class="accordion-inner">Analysis 1B notes for placeholder</a></li></ul></div>
