<div class="accordion">
    <span>Humanities
    <a class="panel" href="/BDNotes/Humanities/AP World/placeholder.txt">AP World notes for placeholder</a>
    <a class="panel" href="/BDNotes/Humanities/NSL/placeholder.txt">NSL notes for placeholder</a></span>
</div>

<button class="accordion">Computer Science</button>
    <div class="panel" href="/BDNotes/CS/FCS/placeholder.txt">FCS notes for placeholder</div>
    <div class="panel" href="/BDNotes/CS/ADSA/placeholder.txt">ADSA notes for placeholder</div>
    <div class="panel" href="/BDNotes/CS/ADSB/placeholder.txt">ADSB notes for placeholder</div>
    <div class="panel" href="/BDNotes/CS/AOA/placeholder.txt">AOA notes for placeholder</div>

<button class="accordion">Science</button>
    <div class="panel" href="/BDNotes/Science/Freshman Physics/placeholder.txt">Freshman Physics notes for placeholder</div>
    <div class="panel" href="/BDNotes/Science/Freshman Chem/placeholder.txt">Freshman Chem notes for placeholder</div>
    <div class="panel" href="/BDNotes/Science/Biology/placeholder.txt">Biology notes for placeholder</div>

<button class="accordion">Math</button>
    <div class="panel" href="/BDNotes/Math/Analysis 1A/placeholder.txt">Analysis 1A notes for placeholder</div>
    <div class="panel" href="/BDNotes/Math/Analysis 1B/placeholder.txt">Analysis 1B notes for placeholder</div>
