{% assign class_var = include.class %}
{% assign class_notes = site.collections | where: "label", class_var | first %}
<div>
{% for note in class_notes.docs %}
    <span id="modal_{{ forloop.index }}" class="modal">
        <p>Notes by <b>{{ note.author }}</b></p>
        <hr>
        <p>{{ note.content }}</p>
    </span>
    <span><a href="#modal_{{ forloop.index }}" rel="modal:open"><img src="{{ note.imgurl }}" width="{{ site.thumbnailsize }}" height="{{ site.thumbnailsize }}"></a></span>
{% endfor %}
</div>