<div class="accordion"><h3>Humanities</h3><ul><li><a href="Humanities/World">AP World notes</a></li><li><a href="Humanities/NSL">NSL notes</a></li></ul></div>
<div class="accordion"><h3>CS</h3><ul><li><a href="CS/FCS">FCS notes</a></li><li><a href="CS/ADSA">ADSA notes</a></li><li><a href="CS/ADSB">ADSB notes</a></li><li><a href="CS/AOA">AOA notes</a></li></ul></div>
<div class="accordion"><h3>Science</h3><ul><li><a href="Science/Freshman Physics">Freshman Physics notes</a></li><li><a href="Science/Freshman Chem">Freshman Chem notes</a></li><li><a href="Science/Sophomore Biology">Sophomore Biology notes</a></li></ul></div>
<div class="accordion"><h3>Math</h3><ul><li><a href="Math/Analysis 1A">Analysis 1A notes</a></li><li><a href="Math/Analysis 1B">Analysis 1B notes</a></li></ul></div>
