---
---

$body-link-color: #17aded;
$header-bg-color: #2a89d2 !default;
$header-bg-color-secondary: #175899 !default;

@import "{{ site.theme }}";
.page-header {
    color: $header-heading-color;
    text-align: center;
    background-color: $header-bg-color;
    background-image: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);
  
    @include large {
      padding: 1.25rem; // decrease banner height from default
    }
  }