---
layout: default
---
<!-- Adapted from https://www.sanwebe.com/2014/08/css-html-forms-designs -->
<form>
    <ul class="form-style">
        <li><label>Full Name <span class="required">*</span></label>
            <input type="text" class="field-divided" placeholder="First" />&nbsp;<input type="text"  class="field-divided" placeholder="Last" />
        </li>

        <li>
            <label>Class <span class="required">*</span></label>
            <select class="field-select">
                <option>Choose One</option>
                <option>AOA</option>
                <option>Lin Alg</option>
            </select>
        </li>
        <li>
            <label>Lecture Name <span class="required">*</span></label>
            <select class="field-select">
                <option>Choose One</option>
                <option>Base Conversion</option>
                <option>Flip Flops</option>
            </select>
        </li>
        <li>
            <div class="upload-btn-wrapper">
                <button class="upload-btn">Upload Your Notes Here!</button>
                <input type="file" required multiple accept=".png, .pdf, .txt, .docx, .jpeg" data-multiple-caption="{count} notes selected" id="input"/>
            </div>
        </li>
        <li>
            <input type="submit" value="Submit" />
        </li>
    </ul>
</form>

<script>
// Heavily adapted from https://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/
var inputs = document.querySelectorAll('#input');
Array.prototype.forEach.call(inputs, function(input)
{
	var label = input.previousElementSibling;
	input.addEventListener('change', function(e)
	{
		if(this.files.length > 1){
			label.innerHTML = this.getAttribute('data-multiple-caption').replace('{count}', this.files.length);
        } else if(this.files.length == 1){
            label.innerHTML = "1 note selected";
        } else {
            label.innerHTML = "No notes selected";
        }
	});
});
</script>

{{ content }}